.container-pricing {
    /* background-color: aliceblue; */
    margin-top: 8rem;
    padding: 0 7rem 0 7rem;
}

.col-pricing {
    /* background-color: antiquewhite; */
}

.col-image-pricing {
    /* background-color: azure; */
}

.col-img {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
}

.price-image {
    width: 58%;
}

.para-pricing {
    font-size: 0.65rem;
}

.arrow-pricing {
    font-size: 1rem;
    margin-left: 0.5rem;
}

