.container-varsity {
    /* background-color: aliceblue; */
    margin: 10rem 7rem 0 7rem;
    padding: 0 6rem 0 5.5rem;
}

/* .varsity-text {
    background-color: antiquewhite;
} */

/* .varsity-image {
    background-color: rgb(107, 178, 178);
} */

.var-img {
    width: 77%;
}