.notification-support {
    width: 98%;
    height: 80%;
    background-color: #fff4e4;
    margin-top: 1.5rem;
    margin-left: 1.4rem;
}

.notification-line {
    font-size: 1.1rem;
    color: #397DD0;
}

.notification-box {
    padding-top: 1rem;
    padding-right: 1rem;
}

.quick-link-line {
    padding-left: 1rem;
    padding-top: 0.7rem;
    border-left: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    margin-left: 2.1rem;
    width: 92.2%;
    padding-bottom: 0.7rem;
}

.quick-text {
    text-decoration: none;
    color: #397DD0;
    font-size: 1.1rem;
}