.col-charges-explained-1 {
    padding-left: 6.7rem;
    padding-right: 2rem;
}

.col-charges-explained-2 {
    padding-right: 7rem;
}

.text-charged-explained {
    font-size: 0.82rem;
}

.heading-charge-explained {
    font-size: 1.05rem;
}

.disclaimer-charges-explained {
    padding-left: 6.7rem;
    padding-right: 6rem;
    padding-top: 1rem;
}